-html,
body,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
legend,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

li,
ol,
ul {
  list-style: none;
}

a,
u {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

input {
  border: 0;
}

.clearfix {
  zoom: 1;
}

button,
input,
select {
  border: 0;
}

.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
}






/* 头部 */
.top{
  padding:28px 0;
  background:#fff;
}
.container {
  width: 1226px;
  margin-bottom: 8px;
  margin: 0 auto;
}

.top-container {
  height: 74px;
  position: relative;
}
.top-logo {
  float: left;
  width: 62px;
  margin-top: 10px;
}

.top-logo .logo {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background: #ff6700 url("../images/xiaomilogo_03.png") no-repeat center center;
}
.top-logo .logo:hover{
    background: #ff6700 url("../images/20181015193237_03.png") no-repeat center center;
  }
  .top-title{
    width:140px;
    height: 48px;
    line-height:48px;
    text-align: center;
    float: left;
    font-size:28px;
    margin-top:13px;
    margin-left:36px;
  }
  .top-handle{
    float:right;
    height: 48px;
    line-height:48px;
    text-align: center;
    font-size:12px;
    margin-top:13px;
  }
  .top-handle>a:hover{
    color: #f25807;
  }
.main {
  width: 100%;
  border-top:1px solid red;
  background: #f5f5f5;

}
/* 空购物车 */
.cart-empty {
  height: 273px;
  padding-left: 558px;
  margin: 65px 0 130px;
  background: url(../images/cart-empty.png) no-repeat 124px 0;
  color: #b0b0b0;
  overflow: hidden;
  _zoom: 1;
}
.cart-empty h2 {
  margin: 70px 0 15px;
  font-size: 36px;
}
.cart-empty-s h2{
  margin-top: 50px;
  margin-bottom: 0;
}

.cart-empty .login-desc {
  /* display: none; */
  margin: 0 0 20px;
  font-size: 20px;
  color: #b0b0b0;
}
.shop-handle a{
  display: inline-block;
  border:1px solid #f25807;
  width: 170px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.login-btn {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
.login-btn:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff;
}
.shop-btn:hover{
  background: #fff;
  color: #f25807;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.18);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.18);
}
a:active, a:hover {
  outline: 0;
}
/* 购物车结算 */
.cart-goods-list{
  margin-top:30px;
  min-height:500px;
}
/* 购物车头部 */
.shops1
{ 
  font-size:16px;
  width: 1226px;
  float: left;
	margin:0 auto;
	height: 86px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.shops1 div{
	float:left;
	height: 86px;
	line-height: 86px;
}
.goods_check1
{
  width: 100px;
  margin-left: 24px;
}

.goods_name1
{
	width: 380px;
  line-height: 86px;
  margin-left:110px;
}

.goods_price1
{
	width: 129px;
padding-left: 30px;
font-size: 16px;
}
.goods_num1
{
  width: 150px;
  text-align: center;
}
.goods_total1
{
	width: 131px;
	padding-left: 70px;
	font-size: 16px;
	color: #ff6700;
}
.goods_action1
{
  text-align: center;
	
}



/* 渲染页样式 */
.shops
{
   font-size:16px;
  width: 1226px;
  float: left;
	margin:0 auto;
	height: 86px;
	background: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.shops div{
	float:left;
	height: 86px;
	line-height: 86px;
}
.goods_check
{
  width: 110px;
  font-size:16px;
}
.Gou
{
	display: inline-block;
	height: 18px;
	width: 18px;
	line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.goods_img
{
	width: 120px;	
	text-align: center;
	
}
.goods_name
{
	width: 100px;
  line-height: 86px;


	
}
.goods_color
{
	width:280px;
	line-height: 86px;
}
.goods_price
{
	width: 129px;
padding-left: 30px;
font-size: 16px;
	
}
.goods_num
{
	width: 150px;
	padding-top:25px
}
.goods_total
{
	width: 131px;
	padding-left: 70px;
	font-size: 16px;
	color: #ff6700;
}
.goods_action
{
 margin-left:12px;
 text-align: center;
	
}
.goods_action a
{
  width: 11px;
  height: 11px;
  padding-left:0 10px;
  border-radius: 5px;
	
}
.goods_action a:hover{
  background: #f66000;
  color:white;
}
#count
{
	height: 38px;
	width: 148px;
	border: 1px solid #e0e0e0;
}
#count span{
	height: 38px;
	line-height: 38px;
	display: block;
	float: left;
}
#num{
	width: 68px;
	color: #424242;
	text-align: center;
}
.add,.reduce{
	text-align: center;
	width: 38px;
	cursor: pointer;	
}
/* 结算 */
.cart-goods-count{
  width: 1226px;
  font-size:16px;
  /* float: left; */
	margin:0 auto;
	height: 50px;
  background: #fff;
  line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
}
.count-left{
  float: left;
}
.count-right{
  float:right;
}
.count-right em{
  padding:0 10px;
  font-size: 20px;
  color:orange;
}

.count-right a{
  width: 202px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left:20px;
  display: inline-block;
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
.count-right a:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff;
}
/* 为你推荐 */
.goods{
  margin-top: 20px;
}
.title {
  position: relative;
  width: 1226px;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 20px;

}

.title span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  font-size:28px;
}

.type-list {
  width: 1226px;
  float: left;
  min-height: 1px;
  padding-bottom: 40px;
}

.brick-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 14px;
  background: #fff;
  display: list-item;
}

.brick-item-p .figure-img {
  width: 140px;
  height: 140px;
  margin: 0 auto 18px;
}

.figure-img a {
  display: block;
  color: #757575;
  text-decoration: none;
}

.desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}

.price {
  margin: 0 10px 10px;
  text-align: center;
  color: #ff6700;
}


.tit {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 10px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tit a {
  text-decoration: none;
  color: #333;
}

.brick-item .rank {
  position: relative;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}

.jion-rank {
  position: absolute;
  top: -28px;
  left: 0;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

.jion-rank a {
  color: #ff6700;
}

.rank:hover {
  display: block;
}